<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOOK</title>
</head>

<body>
 <header> 
      <%- include('../partials/header')%>
    </header>
    
        <main>
            <h1><%= book.title%></h1>
        </main>
</body>

</html>